<div class="container">
  <ul class="hints">
    <li class="hint">Only letters/digits/symbols - easy password</li>
    <li class="hint">
      Combination of letters-symbols/letters-digits/digits-symbols - medium
      password
    </li>
    <li class="hint">
      Has letters, symbols and numbers - the password is strong
    </li>
    <p>*letters good be latin or cyrillic</p>
  </ul>
  <app-input (onEnterPassword)="passwordChanged($event)"></app-input>
  <app-section [password]="password"></app-section>
</div>
