.section {
  height: 5px;
  flex-grow: 1;
  border-radius: 3px;
}
.sections_container {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.sections {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-content: center;
  justify-items: center;
  align-items: center;
  width: calc(250px - 2px);
  padding: 5px 1px 0;
}
.text {
  font-size: 12;
  display: block;
  padding: 0;
  margin: 0;
}
.empty {
  background-color: grey;
  transition: 0.6s;
}
.easy {
  background-color: red;
  transition: 0.6s;
}
.strong {
  background-color: green;
  transition: 0.6s;
}
.medium {
  background-color: yellow;
  transition: 0.6s;
}
