.section {
  height: 5px;
  width: 30px;
}
.sections {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-content: center;
  justify-items: center;
  align-items: center;
}
.text {
  font-size: 12;
  display: block;
  padding: 0;
  margin: 0;
}
.empty {
  background-color: grey;
}
.easy {
  background-color: red;
}
.strong {
  background-color: green;
}
.medium {
  background-color: yellow;
}
